services:
  # バックエンド (Go)
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: kojanmap
      JWT_SECRET_KEY: e10b3b775c82d26e964ff21feb40ae845f30cf87dcb185cc546a237b5c3a77d8
      GOOGLE_CLIENT_ID: 717808448232-jh376rsq8bn9c1b9mt1fombkdp2kq72f.apps.googleusercontent.com
      ALLOWED_ORIGINS: http://localhost:5173

  # フロントエンド (React)
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      VITE_API_BASE_URL: http://localhost:8080
      VITE_GOOGLE_CLIENT_ID: 717808448232-jh376rsq8bn9c1b9mt1fombkdp2kq72f.apps.googleusercontent.com

  # データベース (MySQL)
  db:
    image: mysql:8.0
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kojanmap
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: