services:
  # バックエンド (Go)
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: "3306"
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: kojanmap
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
    restart: always
    depends_on:
      - db

  # フロントエンド (React)
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  # データベース (MySQL)
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kojanmap
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: