services:
  # バックエンド (Go)
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db

  # フロントエンド (React)
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  # データベース (MySQL)
  db:
    image: mysql:8.0
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kojanmap
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
